* {
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  color: var(--body-color);
  background-color: var(--body-bg);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
