.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: var(--sidebar-width);
  left: calc(0px - var(--sidebar-width));
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

.wrap {
  position: relative;
  width: 100%;
}

.sidebar-checkbox {
  position: absolute;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.sidebar-toggle {
  position: absolute;
  top: var(--spacer);
  left: var(--spacer);
  display: flex;
}

.sidebar-toggle::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  content: "";
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%23777' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
}

.wrap,
.sidebar,
.sidebar-toggle {
  -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}

.wrap,
.sidebar-toggle {
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: transform .3s ease-in-out;
}

#sidebar-checkbox:checked + .sidebar {
  z-index: 10;
  visibility: visible;
}
#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(var(--sidebar-width));
      -ms-transform: translateX(var(--sidebar-width));
          transform: translateX(var(--sidebar-width));
}
#sidebar-checkbox:checked ~ .sidebar-toggle::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='%23777' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
}

@media (min-width: $md-screen) {
  .sidebar-toggle {
    position: fixed;
  }
}
