.sidebar {
  overflow-y: auto;
  color: var(--sidebar-color);
  background-color: var(--sidebar-bg);
}

.sidebar a {
  color: $oc-white;
}

.sidebar p {
  margin: 0;
}

.sidebar-item {
  margin: var(--spacer-2);
}

.sidebar-nav {
  border-bottom: 1px solid var(--border-color);
}
.sidebar-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-nav-item {
  display: block;
  padding: var(--spacer) var(--spacer-2);
  border-top: 1px solid var(--border-color);
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}

a.social-icon {
  margin-right: .5em;
  text-decoration: none;
}
